.WidgetBoard{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*border: 1px solid red;*/
    position: absolute;
    bottom: 26vh;
    left: 10vw;
    height: 26.5vh;
    align-content: center;
    justify-items: center;
}
.Widgets{
    /*border: 1px solid green;*/
    /*display: grid;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
.Widget{
    display: grid;
    align-items: end;
    justify-content: center;
    /*width: 27vw;*/
    /*height: 27vw;*/
}
.WdgImage{
    width: 100%;
    border-radius: 15px;
}
.Footer{
    background-color: #171717;
    position: absolute;
    /*bottom: 10px;*/
    /*border: 1px solid red;*/
    width: auto;
    color: white;
}