.SearchResult{

}

.SearchPage{
    width: 100vw;
    height: 100vh;
    background-color: #171717;
    /*opacity: 10%;*/
    position: absolute;
    z-index: 1;
    /*border: 1px solid red;*/
    display: grid;
    grid-auto-rows: 10% 70%;
}
.Search{
    width: 100%;
    /*position: absolute;*/
    top: 30px;
    /*border: 1px solid green;*/
    height: 10vh;
    display: grid;
    grid-template-columns: 90% 10%;
    justify-content: center;
    align-content: center;
}
.divSearchLine{
    /*border: 1px solid blue;*/
    display: grid;
    justify-items: right;
}
.divClose{
    /*border: 1px solid blue;*/
    display: grid;
    /*align-content: center;*/
    justify-content: center;
}
.SearchLine{
    width: 80%;
    height: 6vh;
    border-radius: 50px;
    background-color: #232323;
    display: grid;
    /*grid-template-columns: 85% 15%;*/
    color: white;
    font-size: 25px;
    outline: none;
    /*border: 1px solid red;*/


    border: 0;
    padding-left: 5vw;
    padding-right: 5vw;
}
.Close{
    /*position: absolute;*/
    /*right: 3vw;*/
    /*top: 3vw;*/
    width: 20px;
    height: 20px;
    background-color: rgba(255, 0, 0, 0.3);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    /*border: 1px solid red;*/
}
.divSearchResults{
    height: 70vh;
    /*position: absolute;*/
    top: 120px;
    width: 100%;
    /*border: 1px solid green;*/
    display: grid;
    justify-items: center;
}
.searchResults{
    height: 100%;
    width: 80%;
    /*border: 1px solid red;*/
    display: grid;
    /*justify-items: center;*/
    align-content: start;
    overflow-y: scroll;
}
.searchResults::-webkit-scrollbar {
    width: 1px;
}
.searchResults::-webkit-scrollbar-track {
    background-color: #646464;
    border-radius: 50px;
}
.searchResults::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #313131;
}
.Find{
    color: white;
    background-color: #484848;
    border-radius: 15px;
    display: grid;
    /*text-align: center;*/
    align-content: center;
    margin: 5px;
    height: 40px;
    width: 90%;
    padding-left: 15px;
    font-size: 120%;
}