.RightDiv {
    display: grid;
    width: 100vw;
    /*height: 16vh;*/
    position: absolute;
    /*border: 1px solid red;*/
}

.CardCont {
    position: absolute;
    /*left: 10vw;*/
    top: 18.7vh;
    /*border: 1px solid red;*/
    filter: blur(calc(var(--abs) * 10px));
    height: 16.4vh;
    width: 94vw;
    left: 3vw;
}

.divImg {
    /*border: 1px solid red;*/
    /*width: 80vw;*/
    /*height: 50vw;*/
    /*background-size: cover;*/
    border-radius: 15px;
    /*box-shadow: 2px 2px 5px 0px;*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    display: grid;
    align-content: center;
    justify-items: center;
}
.img{
    width: 90%;
}