/*@font-face {*/
/*  font-family: "Klab";*/
/*  src: url('../resource/font/Klab.ttf');*/
/*}*/
/*@font-face {*/
/*  font-family: "Lunasima";*/
/*  src: url('../resource/font/Lunasima-Regular.ttf');*/
/*}*/
.Main{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #171717;
  /*position: absolute;*/
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  /*border: 1px solid red;*/
}
