.Writer{
    text-align: start;
}
.HelloText{
    /*padding: 10px;*/
    padding-left: 10px;
    color: #646464;
    /*color: #FFA800;*/
    /*font-weight: bold;*/
    /*font-family: Consolas;*/
    /*font-size: 25px;*/
    /*border: 1px solid red;*/
    /*width: 100%;*/
    /*font-weight: bold;*/
    font-size: 2.5vh;
}
.Cursor{
    padding: 20px;
    color: #FFA800;
    font-size: 3vh;
}